@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-start: #f8fafc;
  --background-end: #c7d2fe;
  --foreground: #2d3748;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-start: #0f172a;
    --background-end: #1e1b4b;
    --foreground: #f8fafc;
  }
}

body {
  color: var(--foreground);
  min-height: 100vh;
  background: linear-gradient(
    to bottom right,
    var(--background-start) 80%,
    var(--background-end)
  );
}
